.card {
  position: relative;
  margin-right: 2em;
  margin-top: 40px;
  width: 300px;

  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.385);
  height: 550px;
  background-color: #c4d1d7;

  &:first-of-type {
    margin-left: 2em;
  }
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #294d59;
    height: 30px;
    color: black;
    padding: 0 10px;
    &__h1 {
      font-size: 1.2em;
    }
    &__button {
      height: 5px;
    }
  }
  &__footer {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    min-height: 50px;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #1f3c46;

    &__btn {
      height: 30px;
      width: 100px;
      font-size: 0.8em;
    }
  }
  &__content {
    max-height: 500px;
    background-color: #c4d1d7;
  }
}
